html {
  scroll-behavior: smooth;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color: #000;
}

/* selected link */
a:active {
  color: #000;
}

#tags {
  text-align:center;
  color: rgba(0, 0, 0, 0);
}



h2 span {
  background-color: black;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.5em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.highlight span {
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 100px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.doubleSpace {
  line-height: 2em;
}

#bigCircleHolder {
  width: 100vw;
  height: 100vh;
  position: absolute;
  perspective: 100px;
  /* padding: 48px; */
}


#bigCircle {
  width: 50%;
  max-width: 600px;
  height: auto;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

.centerArrow {
  /* position: absolute; */
  /* top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  transition: transform 100ms ease-in;
}

#arrowHolder {
  width:30%;
  z-index: 10;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 150px;
  margin-bottom: 48px;
  float: left;
}


#helloIntro {
  position: absolute;
  left: 50%;
  margin-top: 150px;
  transform: translateX(-50%);

  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 11vw;
  line-height: 1.1em;
  text-align: center;

  color: #000000;

}

.arrow{
  transition: scale 100ms ease;
  border-radius:100%;
}

#arrowImg{
  height: 100%;
}


#bigCircleBackgroundImg{
  width: 100%;
  height: 100%;
}

#introContainer {
  float: left;
}

#helloIntro {
  position: absolute;
  left: 50%;
  margin-top: 150px;
  transform: translateX(-50%);

  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 11vw;
  line-height: 1.1em;
  text-align: center;

  color: #000000;

}

#intro {
  text-align: center;
  padding: 0px;
}


#introParagraph {
  text-align: center;
  padding: 0px;
  font-size: 24px;
  line-height: 1.7em;
  max-width: 640px;
  margin: auto;
}

#verticalSpacer {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#centerLine {
  width: 1px;
  background-color: black;
  float: left;
  margin: auto;
}

#work {
  /* margin-left: -48px; */
  /* padding: 20px;
  width: 100vw; */
}

#titleLeft {
  margin-top: 80px;
}

#titleRight {
  margin-top: 80px;
}

#inquireButton{
  margin-top: 40px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
  border-radius: 30px;
  display: inline-block;

}


#inquireButton p {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.heroImg {
  width: 100%;
  position: relative;
}

.fadeIn {
  opacity: 0;
  transform: translate3d(0px, 20px, 0px);
  transition: opacity 100ms ease-in, transform 100ms;
}

.fadeIn > div {
  opacity: 0;
  transform: translate3d(0px, 20px, 0px);
}

.fadeIn.active{
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.animateToNormal {
  opacity: 1;
}

.mobileAnalytics1 {
  width: 25%;
  height: 100%;
  float: left;
  margin-left: 14%;
  padding-top: 8%;
  display: block;
}

.mobileAnalytics2 {
  width: 25%;
  height: 100%;
  margin-left: 2%;
  float: left;
  display: block;
}

.mobileAnalytics3 {
  width: 25%;
  height: 100%;
  margin-left:2%;
  padding-top: 4%;
  float: left;
  display: block;
}


.algorithmControl1 {
  width: 20%;
  height: 100%;
  float: left;
  margin-left: -1%;
  padding-top: 12%;
  display:inline-block;
  position: relative;
}

.algorithmControl2 {
  width: 60%;
  height: 100%;
  margin-left: -10%;
  float: left;
  display: block;
  z-index: -2;
}

.algorithmControl3 {
  width: 20%;
  height: 100%;
  margin-left:-10%;
  padding-top: 10%;
  float: left;
  display: block;
}


.algorithmControl4 {
  width: 20%;
  height: 100%;
  padding-top: 4%;
  float: left;
  display: block;
}


.stretchedImage {
  max-width: 100%;
  max-height: 100%;
}

.vimeoVideo {
  /* min-height: 500px; */
  /* background-color: black; */
  width: 100%;
  padding-top: 56%; /* 1:1 Aspect Ratio */
  position: relative;
  margin:
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  border: 8px solid black;

}

.avatar {
  border-radius: 100%;

  background-color: #A0DDFF;
  width:66%;
  margin: 0 auto;
  overflow: hidden;
}


.avatar:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.avatar img {
  position: absolute;
  width: 100%;
  margin-top: -10%;
}

#contact {
  height: 800px;
  padding: 48px;
  width: 100vw;
}

#footer {
   width:100vw;
   height:60px;
   background-color: white;
}

#contactRow{
  display: flex;
  flex-direction: row;
}

#contactRowIntro {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 24px;
  width: 100%;
}

.contactLinks {
  width: 40px;
  height: 40px;
  padding: 12px;
  padding-top: 20px;
  transform: translate(0px, 0px);
  transition: transform 100ms ease-out, scale 100ms;
}

.contactLinks:hover {
  transform: translate(0px, -4px);
}

.contactIcons {
  width: 100%;
  height: 100%;
}

#contactRow div a svg {
  fill: black;
  transform: translate3d(0px, 0px, 0px);
  transition: fill 100ms ease-in, transform 100ms;
}

#contactRowIntro div a svg {
  fill: black;
  transform: translate3d(0px, 0px, 0px);
  transition: fill 100ms ease-in, transform 100ms;
}



#email a svg:hover {
  fill: #FFD748;
}

#linkedin a svg:hover {
  fill: #A0DDFF;
}

#instagram a svg:hover {
  fill: #B182FF;
}

#pinterest a svg:hover {
  fill: #FF6B70;
}

/* Grid
ââââââââââââââââââââââââââââââââââââââââââââââââââ */
body {
  font-family: "Chivo", sans-serif;
  margin: 0px;
  background-color: #F5EDE2;
  transition: background-color 500ms;
  overflow-x: hidden;
}

h2 {
  font-size: 28px;
  text-align: center;
}


#projectDescription {
  text-align: left; text-justify: inter-word;
}

.container {
  width: 100%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
#work {
  /* margin-left: -48px; */
  /* padding: 24px; */
}


/* For devices larger than 500px */
@media (min-width: 500px) {
  body {
    /* margin-left: 48px;
    margin-right: 48px; */
  }
  .container {
    padding: 48px;
  }

  h2 {
    font-size: 36px;
    text-align: center;
  }

  #projectDescription {
    text-align: justify; text-justify: inter-word;
  }

  .avatar {
    width:66%;
  }


}

/* For devices larger than 800px */
@media (min-width: 800px) {


    #arrowHolder {
      margin-top: 175px;

    }


    #helloIntro {

      margin-top: 175px;


    }

  .avatar {
    width:100%;
  }
  .flexRow {
    display: inline;
  }

  .container {
    padding: 48px;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
